*,
 ::after,
 ::before {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.in {
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    background-color: royalblue;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

.activity {
    position: relative;
    left: 15px;
    top: 15px;
    margin-bottom: 15px;
    width: 370px;
    height: 570px;
}

.page {
    width: 100%;
    height: 517px;
}

[pid=ggtxpage] div button,
[pid=ggtxpage]>* {
    width: 100%;
}

[pid=ggtxpage] h4 {
    font-size: 12px;
    font-weight: bolder;
    height: 50px;
}

[pid=ggtxpage] div button {
    background-color: cyan;
    font-size: 20px;
    line-height: 40px;
    margin-top: 5px;
    border-radius: 40px;
    border: black solid 1px;
}

[pid=ggtxpage] div button:hover {
    background-color: #76E8FF;
}

[pid=ggtxpage] h4,
[pid=ggtxpage] h3 {
    text-align: center;
    outline: 0;
    border: 0;
}

[pid=ggtxpage] img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50px;
    border: black solid 3px;
}

[pid=ggtxpage] h3 {
    margin: 30px 0;
}

[pid=ggtxmr] h3 {
    margin: 20px;
}

[pid=ggtxmr] ul {
    margin: 0;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    padding: 0;
}

[pid=ggtxmr] ul li {
    float: left;
    margin-left: 20px;
}

[pid=ggtxmr] ul li img {
    width: 75px;
    height: 75px;
}

[pid=ggtxmr] div {
    width: 100%;
    height: 40px;
}

[pid=ggtxmr] div button:first-child {
    float: left;
    outline: 0;
    border: 0;
    width: 100px;
    line-height: 40px;
    background-color: cyan;
    border: black solid 1px;
    border-radius: 40px;
}

[pid=ggtxmr] div button:last-child {
    float: right;
    outline: 0;
    border: 0;
    width: 100px;
    line-height: 40px;
    background-color: cyan;
    border: black solid 1px;
    border-radius: 40px;
}

[pid=ggtxmr] div button:hover {
    background-color: #9eeae6;
}

[pid=ggtxbd] img {
    display: block;
    width: 150px;
    height: 150px;
    background-color: grey;
    margin: 50px auto;
    border-radius: 150px;
    visibility: hidden;
}

[pid=ggtxbd] input,
[pid=ggtxbd] button {
    font-size: 20px;
    outline: 0;
    border: 0;
}

[pid=ggtxbd]>button {
    width: 100%;
    position: relative;
    top: -40px;
    height: 40px;
    pointer-events: none;
    background-color: cyan;
    border: black solid 1px;
}

[pid=ggtxbd] div button {
    width: 49%;
    background-color: cyan;
    border: black solid 1px;
    margin-top: 143px;
}

[pid=ggtxwl] h3 {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

[pid=ggtxwl] div button {
    width: 49%;
    height: 50px;
    outline: 0;
    border: black solid 1px;
    background: cyan;
    font-size: 24px;
}

[pid=ggtxwl] div {
    width: 100%;
    height: 50px;
    margin-top: 60px;
}

[pid=ggtxwl] div button:hover {
    background: #8cfffd;
}

[pid=ggtxwl] textarea {
    width: 100%;
    height: 300px;
    border: cyan solid 2px;
    border-radius: 20px;
    padding: 20px;
}

[pid=ggyhmpage] h3 {
    margin: 30px 0;
}

[pid=ggyhmpage] h4 {
    position: relative;
    top: 40px;
    margin-top: 20px;
}

[pid=ggyhmpage] div {
    margin-top: 230px;
}

[pid=ggyhmpage] div button {
    width: 100%;
    font-size: 24px;
    background: cyan;
    border: black solid 1px;
    border-radius: 50px;
    margin-top: 10px;
}

[pid=ggyhmpage] div button:hover {
    background: #9effff;
}

[pid=ggyhmpage] h4 input {
    width: 250px;
}

[pid=ggmmpage] h3 {
    margin: 30px 0;
}

[pid=ggmmpage] input {
    width: 230px;
}

[pid=ggmmpage] div {
    margin-top: 200px;
}

[pid=ggmmpage] div button {
    width: 100%;
    font-size: 24px;
    background: cyan;
    border: black solid 1px;
    border-radius: 50px;
    margin-top: 10px;
}

[pid=ggmmpage] div button:hover {
    background-color: #a9e2ff;
}

[pid=gggxqmpage] h3 {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

[pid=gggxqmpage] div button {
    width: 49%;
    height: 50px;
    outline: 0;
    border: black solid 1px;
    background: cyan;
    font-size: 24px;
}

[pid=gggxqmpage] div {
    width: 100%;
    height: 50px;
    margin-top: 60px;
}

[pid=gggxqmpage] div button:hover {
    background: #8cfffd;
}

[pid=gggxqmpage] textarea {
    width: 100%;
    height: 300px;
    border: cyan solid 2px;
    border-radius: 20px;
    padding: 20px;
}

.activity[did=Load] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load {
    border: grey solid 20px;
    border-top: cyan solid 20px;
    animation: loadmove 1s infinite linear;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

@keyframes loadmove {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

.activity[did=Load] h2 {
    font-size: 33px;
}

.smalla-eyes div:nth-child(1) {
    width: 36%;
    height: 80px;
    border-radius: 25px;
    float: left;
    margin-left: 18%;
}

.smalla-eyes div:nth-child(2) {
    width: 36%;
    height: 80px;
    border-radius: 25px;
    float: left;
    margin-left: 0;
}

.smalla-eyes div:nth-child(1) div {
    animation: zeye 3s infinite linear;
}

.smalla-eyes div:nth-child(2) div {
    animation: zeye 3s infinite linear;
}

.smalla-eyes div div {
    width: 100%;
    height: 100%;
    background-color: black;
}

.smalla-face {
    clear: left;
}

.smalla-face div:nth-child(1) {
    width: 10px;
    height: 10px;
    background-color: orangered;
    border-radius: 30px;
    float: left;
}

.smalla-face div:nth-child(2) {
    width: 10px;
    height: 10px;
    background-color: orangered;
    border-radius: 30px;
    float: right;
}

.smalla-mout {
    border-radius: 50%;
    border: transparent solid 5px;
    border-bottom: #000 solid 5px;
    border-left: #000 solid 5px;
    transform: rotate(-45deg);
    width: 35px;
    height: 35px;
    margin: 15px auto;
}

@keyframes zeye {
    0%,
    95% {
        height: 80px;
        margin-top: 0px;
    }
    97.5% {
        height: 0px;
        margin-top: 20px;
    }
}

.smalla-more {
    height: 140px;
    width: 185px;
    display: block;
}

@keyframes zeys {
    0% {
        margin-left: 18px;
    }
    50% {
        margin-left: 22px;
    }
}

.fr {
    float: right;
}

.activity[did=wel1] .title {
    margin-top: 200px;
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family: "黑体";
    display: none;
}

.activity[did=wel1] .greystr {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.activity[did=wel1] .smalla-more {
    padding-top: 50px;
    transform: scale(1.5);
}

.activity[did=wel1] {
    overflow: hidden;
    position: relative;
}

.next {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.last {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

.activity[did=wel2] .set1 h1,
.activity[did=wel2] .set1 button {
    display: inline-block;
}

.activity[did=wel3] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.activity[did=wel3] h1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.activity[did=sp] .fj {
    display: block;
    position: relative;
    width: 100px;
    height: 0.5px;
    background-color: #000;
    left: 130px;
    transform: rotate(-45deg);
}

.activity[did=sp] .smalla-more {
    padding: 5px;
}

.activity[did=sp] .time {
    float: right;
    margin-right: 20px;
}

.activity[did=sp] .gops {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    cursor: pointer;
}

.activity[did=sp] {
    position: relative;
    background-image: url(back.jpeg);
    background-size: 400px;
    background-position: center;
}

.activity[did=sp] .gops span {
    font-size: 30px;
    display: block;
    width: 360px;
    text-align: center;
}

.activity[did=sp] .gops .dx {
    width: 250px;
    height: 0.5px;
    background-color: #000;
    margin-left: 55px;
    margin-bottom: 10px;
}

.activity[did=hsp] .db {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
}

.activity[did=hsp] .fj {
    display: block;
    width: 0.5px;
    height: 100px;
    background-color: #000;
    position: relative;
    top: 20px;
}

.activity[did=hsp] .time {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.activity[did=hbin] .db {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
}

.activity[did=hbin] .fj {
    display: block;
    width: 0.5px;
    height: 100px;
    background-color: #000;
    position: relative;
    top: 20px;
}

.activity[did=hbin] .time {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.activity[did=hsp] .gops {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 730px;
    cursor: pointer;
}

.activity[did=hsp] {
    position: relative;
    background-image: url(back.jpeg);
    background-size: 800px;
    background-position: center;
}

.activity[did=hbin] {
    position: relative;
    background-image: url(back.jpeg);
    background-size: 800px;
    background-position: center;
}

.activity[did=hsp] .gops span {
    font-size: 30px;
    width: 730px;
    text-align: center;
}

.activity[did=hsp] .gops .dx {
    width: 500px;
    height: 0.5px;
    background-color: #000;
    margin-left: 110px;
    margin-bottom: 10px;
}

.activity[did=psp] {
    background-image: url(back.jpeg);
    background-size: 400px;
    background-position: center;
}

.activity[did=psp] .db {
    background-color: rgba(255, 255, 255, 0.5);
}

.activity[did=psp] .db>span {
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
}

.activity[did=psp] .db .gops span {
    display: block;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.activity[did=psp] .db .gops {
    display: inline-block;
    width: 300px;
    position: relative;
    top: -10px;
}

.activity[did=psp] .db .gops div {
    width: 300px;
    height: 0.5px;
    background-color: #000;
    position: relative;
    top: 40px;
}

.activity[did=psp] .js {
    width: 370px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.activity[did=psp] .js p {
    font-size: 30px;
}

.activity[did=psp] .js .sl input,
.activity[did=psp] .js .sl button {
    outline: 0;
    border: 0;
    font-size: 20px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.8);
}

.activity[did=psp] .js .sl {
    padding-bottom: 7px;
    border-radius: 40px;
    border: #000 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.activity[did=psp] .js .sl button {
    cursor: pointer;
    padding-top: 5px;
    text-shadow: #000 0.5px 0.5px 1px;
}

.activity[did=psp] .gj button {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: blue;
}

.activity[did=psp] .gj {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
}

.activity[did=hpsp] {
    background-image: url(back.jpeg);
    background-size: 800px;
    background-position: center;
}

.activity[did=hpsp] .db {
    background-color: rgba(255, 255, 255, 0.5);
}

.activity[did=hpsp] .db>span {
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
}

.activity[did=hpsp] .db .gops span {
    display: block;
    font-size: 30px;
    width: 600px;
    text-align: center;
}

.activity[did=hpsp] .db .gops {
    display: inline-block;
    width: 300px;
    position: relative;
    top: -10px;
    margin-left: 50px;
}

.activity[did=hpsp] .db .gops div {
    width: 600px;
    height: 0.5px;
    background-color: #000;
    position: relative;
    top: 40px;
}

.activity[did=hpsp] .js {
    width: 730px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.activity[did=hpsp] .js p {
    font-size: 30px;
}

.activity[did=hpsp] .js .sl input,
.activity[did=hpsp] .js .sl button {
    outline: 0;
    border: 0;
    font-size: 20px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.8);
}

.activity[did=hpsp] .js .sl {
    padding-bottom: 7px;
    border-radius: 40px;
    border: #000 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.activity[did=hpsp] .js .sl button {
    cursor: pointer;
    padding-top: 5px;
    text-shadow: #000 0.5px 0.5px 1px;
}

.activity[did=hpsp] .gj button {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: blue;
}

.activity[did=hpsp] .gj {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 730px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
}

.activity[did=bin] .fj {
    display: block;
    position: relative;
    width: 100px;
    height: 0.5px;
    background-color: #000;
    left: 130px;
    transform: rotate(-45deg);
}

.activity[did=bin] .smalla-more {
    padding: 5px;
    padding-top: 30px;
}

.activity[did=bin] .time {
    float: right;
    margin-right: 20px;
}

.activity[did=bin] {
    background-image: url(back.jpeg);
    background-size: 400px;
    background-position: center;
}

li {
    list-style: none;
}

.activity[did=bin] .yy {
    position: relative;
    top: 75px;
}

.activity[did=bin] .yy ul li p:nth-child(1) {
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.activity[did=bin] .yy ul li p:nth-child(2) {
    font-size: 16px;
}

.activity[did=bin] .yy ul {
    display: flex;
    justify-content: space-around;
    width: 370px;
    padding-left: 0;
}

.activity[did=bin] .yy ul li:hover {
    cursor: pointer;
    box-shadow: #333 0 0 0.5 1;
}

.activity[did=bin] .cd {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.activity[did=bin] .cd p {
    font-size: 20px;
    margin-bottom: 0;
    font-family: '楷体';
    font-weight: bold;
    width: 370px;
    text-align: center;
}

.activity[did=bin] .cd span {
    font-size: 25px;
    position: absolute;
    bottom: 2px;
    right: 10px;
    cursor: pointer;
}

.activity[did=hbin] .yy {
    position: relative;
    top: 175px;
}

.activity[did=hbin] .yy ul li p:nth-child(1) {
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.activity[did=hbin] .yy ul li p:nth-child(2) {
    font-size: 16px;
}

.activity[did=hbin] .yy ul {
    display: flex;
    justify-content: space-around;
    width: 730px;
    padding-left: 0;
}

.activity[did=hbin] .yy ul li:hover {
    cursor: pointer;
    box-shadow: #333 0 0 0.5 1;
}

.activity[did=hbin] .cd {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.activity[did=hbin] .cd p {
    font-size: 20px;
    margin-bottom: 0;
    font-family: '楷体';
    font-weight: bold;
    width: 730px;
    text-align: center;
}

.activity[did=hbin] .cd span {
    font-size: 25px;
    position: absolute;
    bottom: 2px;
    right: 10px;
    cursor: pointer;
}

.activity[did=ads] {
    position: relative;
}

.activity[did=ads] ul::-webkit-scrollbar {
    display: none;
}

.activity[did=ads] .hd span {
    font-size: 35px;
}

.activity[did=ads] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=ads] .hd span:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 5;
}

.activity[did=ads] .hd span:nth-child(3) {
    float: right;
}

.activity[did=ads] .hd {
    width: 370px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=hads] {
    position: relative;
}

.activity[did=hads] ul::-webkit-scrollbar {
    display: none;
}

.activity[did=hads] .hd span {
    font-size: 35px;
}

.activity[did=hads] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=hads] .hd span:nth-child(2) {
    position: absolute;
    left: 250px;
    top: 5;
}

.activity[did=hads] .hd span:nth-child(3) {
    float: right;
}

.activity[did=hads] .hd {
    width: 730px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=hyys] {
    position: relative;
}

.activity[did=hyys] .hd span {
    font-size: 35px;
}

.activity[did=hyys] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=hyys] .hd span:nth-child(2) {
    position: absolute;
    left: 250px;
    top: 5;
}

.activity[did=hyys] .hd span:nth-child(3) {
    float: right;
}

.activity[did=hyys] .hd {
    width: 730px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=hses] {
    position: relative;
}

.activity[did=hses]::-webkit-scrollbar {
    display: none;
}

.activity[did=hses] .hd span {
    font-size: 35px;
}

.activity[did=hses] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=hses] .hd span:nth-child(2) {
    position: absolute;
    left: 250px;
    top: 5;
}

.activity[did=hses] .hd span:nth-child(3) {
    float: right;
}

.activity[did=hses] .hd {
    width: 730px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=hbzs] {
    position: relative;
}

.activity[did=hbzs] .hd span {
    font-size: 35px;
}

.activity[did=hbzs] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=hbzs] .hd span:nth-child(2) {
    position: absolute;
    left: 250px;
    top: 5;
}

.activity[did=hbzs] .hd span:nth-child(3) {
    float: right;
}

.activity[did=hbzs] .hd {
    width: 730px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=bzs] {
    position: relative;
}

.activity[did=bzs] .hd span {
    font-size: 35px;
}

.activity[did=bzs] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=bzs] .hd span:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 5;
}

.activity[did=bzs] .hd span:nth-child(3) {
    float: right;
}

.activity[did=bzs] .hd {
    width: 370px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=yys] {
    position: relative;
}

.activity[did=yys] .hd span {
    font-size: 35px;
}

.activity[did=yys] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=yys] .hd span:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 5;
}

.activity[did=yys] .hd span:nth-child(3) {
    float: right;
}

.activity[did=yys] .hd {
    width: 370px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=app1] {
    position: relative;
}

.activity[did=app1] .hd span {
    font-size: 35px;
}

.activity[did=app1] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=app1] .hd span:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 5;
}

.activity[did=app1] .hd span:nth-child(3) {
    float: right;
}

.activity[did=app1] .hd {
    width: 370px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=happ1] {
    position: relative;
}

.activity[did=happ1] .hd span {
    font-size: 35px;
}

.activity[did=happ1] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=happ1] .hd span:nth-child(2) {
    position: absolute;
    left: 200px;
    top: 5;
}

.activity[did=happ1] .hd span:nth-child(3) {
    float: right;
}

.activity[did=happ1] .hd {
    width: 730px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=app2] {
    position: relative;
}

.activity[did=app2] .hd span {
    font-size: 35px;
}

.activity[did=app2] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=app2] .hd span:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 5;
}

.activity[did=app2] .hd span:nth-child(3) {
    float: right;
}

.activity[did=app2] .hd {
    width: 100%;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=app3] {
    position: relative;
}

.activity[did=app3] .hd span {
    font-size: 35px;
}

.activity[did=app3] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=app3] .hd span:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 5;
}

.activity[did=app3] .hd span:nth-child(3) {
    float: right;
}

.activity[did=app3] .hd {
    width: 100%;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=app4] {
    position: relative;
}

.activity[did=app4] .hd span {
    font-size: 35px;
}

.activity[did=app4] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=app4] .hd span:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 5;
}

.activity[did=app4] .hd span:nth-child(3) {
    float: right;
}

.activity[did=app4] .hd {
    width: 100%;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=app2] {
    background-image: url(https://tse1-mm.cn.bing.net/th/id/R-C.dd1bda8707e23b3a8aa5a88e38a9d72a?rik=mc9b52PwWDJaTg&riu=http%3a%2f%2fsrc.sotu114.com%2fdata%2fattachment%2fforum%2f201909%2f25%2f223725h6uwqenlzqloquwl.item.jpg-ture&ehk=EbN%2brMrQobcNY%2fr1YTVqT%2bzQx1ED7%2fwRrRxu%2bYRWYnc%3d&risl=&pid=ImgRaw&r=0);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(240, 235, 235);
    background-position: 0 53px;
}

.activity[did=app2] audio {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.activity[did=app2] input {
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 0;
    margin-left: 0 auto;
    font-size: 24px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}

.activity[did=app2] .togo {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    height: 150px;
}

.activity[did=app2] .togo button {
    margin-left: 0 auto;
    font-size: 24px;
    width: 100%;
    background-color: gold;
    border-radius: 25px;
    border: 0;
}

.activity[did=grs] {
    position: relative;
}

.activity[did=grs] .hd span {
    font-size: 35px;
}

.activity[did=grs] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=grs] .hd span:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 5;
}

.activity[did=grs] .hd span:nth-child(3) {
    float: right;
}

.activity[did=grs] .hd {
    width: 100%;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=ses] {
    position: relative;
}

.activity[did=ses] .hd span {
    font-size: 35px;
}

.activity[did=ses] .hd span:nth-child(1) {
    position: relative;
    top: 5;
    left: 5;
    cursor: pointer;
}

.activity[did=ses] .hd span:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 5;
}

.activity[did=ses] .hd span:nth-child(3) {
    float: right;
}

.activity[did=ses] .hd {
    width: 370px;
    height: 53px;
    background-color: #fff;
    z-index: 1;
}

.activity[did=ads] ul {
    padding-left: 0;
    overflow-y: scroll;
    width: 370px;
    height: 520px;
    overflow-x: hidden;
}

.activity[did=ads] ul a {
    display: block;
    width: 370px;
    height: 300px;
    border: grey solid 1px;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
}

.activity[did=ads] ul a li img {
    width: 100px;
    position: relative;
    top: 50px;
    left: 25px;
}

.activity[did=ads] ul a li .nl {
    position: relative;
    left: 155px;
    top: -71px;
}

.activity[did=ads] ul a li .nl p,
.activity[did=ads] ul a li .nl h2 {
    color: #000;
    width: 200px;
}

.activity[did=hads] ul {
    position: relative;
    width: 730px;
    height: 520px;
    padding-left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.activity[did=hads] ul a {
    display: block;
    width: 730px;
    height: 400px;
    border: grey solid 1px;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
}

.activity[did=hads] ul a li img {
    width: 200px;
    position: relative;
    top: 100px;
    left: 50px;
}

.activity[did=hads] ul a li .nl {
    position: relative;
    left: 311px;
    top: -142px;
}

.activity[did=hads] ul a li .nl p,
.activity[did=hads] ul a li .nl h2 {
    color: #000;
    width: 400px;
}

.activity[did=yys] ul {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 370px;
    height: 500px;
}

.activity[did=yys] ul::-webkit-scrollbar {
    display: none;
}

.activity[did=yys] ul li p {
    margin: 0;
}

.activity[did=yys] ul li p:first-child {
    font-size: 40px;
}

.activity[did=yys] ul li p:last-child {
    font-size: 24px;
}

.activity[did=yys] ul li {
    padding: 20px 27px;
    float: left;
    cursor: pointer;
}

.activity[did=hyys] ul {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 730px;
    height: 500px;
}

.activity[did=hyys] ul::-webkit-scrollbar {
    display: none;
}

.activity[did=hyys] ul li p {
    margin: 0;
}

.activity[did=hyys] ul li p:first-child {
    font-size: 40px;
}

.activity[did=hyys] ul li p:last-child {
    font-size: 24px;
}

.activity[did=hyys] ul li {
    padding: 20px 26px;
    float: left;
    cursor: pointer;
}

.activity[did=grs] [pid=main] .tx {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
}

.activity[did=grs] [pid=main] .tx img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.activity[did=grs] [pid=main] .tx p.grsgxqm {
    color: rgb(212, 212, 212);
    font-size: smaller;
    max-width: 250px;
}

.activity[did=grs] [pid=main] .tx .grsusername {
    color: #fff;
    font-size: x-large;
    margin-bottom: 0;
}

.activity[did=grs] [pid=main] ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.activity[did=grs] [pid=main] ul li:hover {
    background-color: wheat;
    cursor: pointer;
}

.activity[did=grs] [pid=main] ul li::after {
    content: ">";
    float: right;
}

.activity[did=grs] [pid=main] ul li {
    font-size: x-large;
    padding: 10px;
    border: grey solid 1px;
}

.activity[did=ses] ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.activity[did=ses] ul li:hover {
    background-color: wheat;
    cursor: pointer;
}

.activity[did=ses] ul li::after {
    content: ">";
    float: right;
}

.activity[did=ses] ul li {
    font-size: x-large;
    padding: 10px;
    border: grey solid 1px;
}

.activity[did=hses] ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.activity[did=hses] ul li:hover {
    background-color: wheat;
    cursor: pointer;
}

.activity[did=hses] ul li::after {
    content: ">";
    float: right;
}

.activity[did=hses] ul li {
    font-size: x-large;
    padding: 10px;
    border: grey solid 1px;
}
